server {
    listen 443 ssl;
    server_name  _;
    underscores_in_headers on;

    root /usr/share/nginx/html;
    index index.html;

    ssl_certificate    /tls/tls.crt;
    ssl_certificate_key /tls/tls.key;

    location / {
        try_files $uri /index.html;
    }

    location /api/ {
        proxy_pass https://backend.default.svc.cluster.local:8080/;
    }

    location /auth {
        proxy_pass https://auth-micro.default.svc.cluster.local:8080/login;
    }

    location /callback/ {
        proxy_pass https://auth-micro.default.svc.cluster.local:8080/callback;
        proxy_pass_request_headers      on;
        
    }

}